


<div class="contact-form loginform">
 <h1>Log In</h1> 
 <form action="/auth/login" method="post">
  <div class="txtb">
    <label for="email-input"> Email </label>
    <input type="email" name="email" id="email-input"
      placeholder="e.g., youremail@whatever.com">
  </div>
<div class="txtb">
    <label for="password-input"> Password </label>
    <input type="password" name="password" id="password-input"
      placeholder="e.g., ••••••••••••">
  </div>
<button class="formbtn"> Log In </button>
<p class="textsign">
  Don't have an account?
  <a class="formlink" href="/auth/signup">
    Create one.
  </a>
</p>{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}</form></div>