<header class="navbar">
    <ul>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
    </ul>
</header>
<section class="banner"></section>
<div>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
</div>
<div id="slider">
    <figure>
        <img src="/images/logo.png">
        <img src="/images/libreta2.jpg">
        <img src="/images/foto1.jpg">
        <img src="/images/food.jpg">
        <img src="/images/logo.png">
    </figure>
</div>
<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })
</script>

<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })
</script>