<header class="navbar">
    <ul>
        <li><a href="/auth/login">Profile</a></li>
        <li><a href="/auth/signup">Create</a></li>
    </ul>
</header>
<section class="banner"></section>
<div>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
</div>
<div id="slider">
    <figure>
        <img src="/images/descarga.png">
        <img src="/images/foto1.png">
        <img src="/images/foto3.png">
        <img src="/images/foto4.png">
        <img src="/images/foto5.png">
        <img src="/images/foto6.png">
        <img src="/images/patatas.jpg">
    </figure>
</div>