<h1>{{title}}</h1>
<p>Welcome to hola hola{{title}}</p>
<div id="slider">
    <figure>
        <img src="/images/descarga.png">
        <img src="/images/foto2.png">
        <img src="/images/foto3.png">
        <img src="/images/foto4.png">
        <img src="/images/foto5.png">
        <img src="/images/foto6.png">
        <img src="/images/patatas.jpg">
    </figure>
</div>