@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cookie', cursive;
}

body {
  background: #fcdfbf;
}
a {
  color: #00B7FF;
}

/*navbar*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  z-index: 100000;
  padding: 20px 0;
}

header .sticky {
  padding: 5px 100px;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  width: 125px;
  height: 50px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  font-size: 14px;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.2s;
  font-size: 16px;
}

.banner {
  position: relative;
  width: 100%;
  background: url();
  background-size: cover;
}

header.sticky {

  background-color: #93BCC1;
}

header.sticky ul li a {
  color: white;
}

/*Slider index.hbs*/
#slider {
  overflow: hidden;
  margin-top:80px;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
  max-width: 20%;
}

@keyframes slider {

  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  40% {
    left: -100%;
  }

  45% {
    left: -200%;
  }

  65% {
    left: -200%;
  }

  70% {
    left: -300%;
  }

  85% {
    left: -300%;
  }

  90% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}

/*Mainpage*/
.bodymainpage {

  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.container .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 16px;
}

.container .card:hover {
  height: 360px;
}

.container .card .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  top: -60px;
  border-radius: 16px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx img {
  max-width: 100%;
  height: 100%;
  border-radius: 16px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.recipesbtn {
  text-decoration: none;
}

.maincontainer {
  margin-top: 150px;
  text-align: center;
}

/*editrecipe*/
.editcontainer {
  margin-top: 50px;

}

/*editrecipeform*/
.editrecipeformcontainer {
  margin-top: 50px;

}



/*profile*/
.profilecontainer {
  margin-top: 50px;
  padding: 200px;
}



/*detailrecipe*/
.detailcontainer {
  margin-top: 50px;
  padding: 200px;
}


/*FORMULARIO GENERAL*/
.contact-form {
  width: 100%;
  max-width: 600px;
  background: #f1f1f1;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  margin-top: 25rem;
}

.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 16px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input,
.txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 12px;
  margin-top: 6px;
  border-radius: 16px;
}

.formbtn {
  display: inline-block;
  background: #93BCC1;
  padding: 7px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 60%;
  border-radius: 16px;
}

.formlink {
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  text-decoration: none;
}

/*Create form*/

.createcontainer {
  margin-top: 5rem;
  text-align: center;
}

.form-create {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.recipeimg {
  margin: 10px 0;
  max-width: 20rem;
}

.recipeimg img {
  border-radius: 16px;
  width: 100%;
  height: 100%;

}

.create-form {
  width: 75%;
  background: #f1f1f1;
  position: relative;
  padding: 20px 20px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  margin: 15px 0;
}

.createform2 {
  margin-top: 1rem;
}

.createform3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/*Profile*/

.hello {
  margin-top: 5rem;
  position: relative;
  text-align: center;
}

.bodyprofile {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.containerprofile {
  width: 100%;
  max-width: 68rem;
  padding: 5rem 5rem 1rem 5rem;
  background-color: white;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .8rem;

}

.profileimage {
  min-width: 10rem;
  height: 10rem;
  transform: translateY(-8rem);
  position: absolute;
}

.profileimage img {
  width: auto;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}


.nickname {
  font-size: 12px;
  margin-top: 50px;
  text-transform: uppercase;
  color: #93BCC1;
}

.profiletext {
  margin-bottom: 3rem;
  font-size: 12px;
  color: black;
}

.button-profile {
  display: inline-block;
  letter-spacing: 1px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(to right, #628B8F 0%, #DEEFED 100%);
  border-radius: .8rem;
  text-decoration: none;
}

.button-profile:hover {
  background-image: linear-gradient(to right, #DEEFED 0%, #628B8F 100%);
}

.button-profile {
  background-color: #93BCC1;
  color: white;
  text-decoration: none;
  border-radius: 16px;
  font-size: 12px;
  margin-bottom: 10px;
}

.editprofilecontainer {
  margin-top: 10rem;
}

.profileform {
  margin-top: 10px;
  position: relative;
  margin-top: 10px;
}

/*login*/
.loginform {
  margin-top: 20rem;
  width: 75%;
  font-size: 14px;
}



.editrecipeform {
  margin-top: 40rem;
  position: relative;
}

@media (min-width: 768px) {

  header .logo {
    width: 220px;
    height: 100px;
  }

  header ul li {
    font-size: 20px;
  }

  header ul li a {
    font-size: 30px;
  }
  #slider {
  
    margin-top:150px;
  }
    

  .bodymainpage {
    margin-top: 20px
  }

  .container .card {
    height: 300px;
  }

  .container .card:hover {
    height: 420px;
  }

  .container .card .imgBx {
    width: 260px;
    height: 260px;
  }

  .container .card .content {
    font-size: 16px;
  }

  .loginform {
    margin-top: 25rem;
    width: 100%;
    font-size: 18px;
  }

  .txtb label {
    font-size: 18px;
  }

  .txtb input,
  .txtb textarea {
    font-size: 18px;
  }

  .bodyprofile {
    height: 50vh;
  }

  .createcontainer {
    margin: 10rem 5rem;
    text-align: center;
  }

  .create-form {
    width: 100%;
  }

  .profileimage {
    transform: translateX(-5rem);
    position: relative;
  }

  .containerprofile {
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
  }

  .nickname {
    font-size: 16px;
    margin-top: 20px;
  }

  .profiletext {
    font-size: 16px;
  }

  .hello {
    margin-top: 10rem;
  }

}

@media (min-width: 1024px) {

  .containerprofile {
    width: 75%;
  }

  .profileimage {
    transform: translateX(-8rem);
  }
}




@media (min-width: 1240px) {

  .container {
    width: 1200px;

  }

  .form-create {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}