@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #fcdfbf;



}

a {
  color: #00B7FF;
}
/*navbar*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  padding: 10px 100px;
  z-index: 100000;
}

header .sticky {
  padding: 5px 100px;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  width: 220px;
  height: 100px;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color:black;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.2s;
}
.banner {
  position: relative;
  width: 100%;
  background: url();
  background-size: cover;
}

header.sticky  {
  
  background-color:#93BCC1;
}
header.sticky ul li a{
  color:white;
}
/*Slider index.hbs*/
#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width:20%;
  float: left;
  max-width: 20%;
}

@keyframes slider {

  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}
/*Mainpage*/
.maincontainer {
  margin-top:50px;
  padding: 200px;
}
/*editrecipe*/
.editcontainer{
  margin-top:50px;
  padding: 200px;
}
/*createrecipe*/
.createcontainer{
  margin-top:50px;
  padding: 200px;
}
/*profile*/
.profilecontainer{
  margin-top:50px;
  padding: 200px;
}
/*editprofile*/
.editprofilecontainer{
  margin-top:50px;
  padding: 200px;
}


