@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #fcdfbf;



}

a {
  color: #00B7FF;
}
/*navbar*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  padding: 10px 100px;
  z-index: 100000;
}
header .sticky {
  padding: 5px 100px;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  width: 220px;
  height: 100px;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color:black;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.2s;
}
.banner {
  position: relative;
  width: 100%;
  background: url();
  background-size: cover;
}

header.sticky  {
  
  background-color:#93BCC1;
}
header.sticky ul li a{
  color:white;
}
/*Slider index.hbs*/
#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width:20%;
  float: left;
  max-width: 20%;
}

@keyframes slider {

  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}
/*Mainpage*/
.bodymainpage {
 
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container{
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  padding:30px;
}
.container .card{
  position:relative;
  max-width:300px;
  height:215px;
  background:#fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover{
  height: 420px;
}
.container .card .imgBx{
  position: relative;
  width:260px;
  height:260px;
  top: -60px;
 
  z-index:1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgBx img{
max-width:100%;
height: 100%;
border-radius:4px;
}
.container .card .content{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color:#111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .content{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
.recipesbtn{
  text-decoration: none;
}
.maincontainer {
  margin-top:150px;
text-align: center;
}
/*editrecipe*/
.editcontainer{
  margin-top:50px;
  padding: 200px;
}
/*createrecipe*/
.createcontainer{
  margin-top:50px;
  padding: 200px;
}
/*profile*/
.profilecontainer{
  margin-top:50px;
  padding: 200px;
}
/*editprofile*/
.editprofilecontainer{
  margin-top:50px;
  padding: 200px;
}
/*detailrecipe*/
.detailcontainer{
  margin-top:50px;
  padding: 200px;
}



