<h2>Create</h2>

{{#each user.recipe}}
<h3>{{recipe.name}}</h3>
{{/each}}
<h1>Formulario creación</h1>
<form action="/create" method="post" enctype="multipart/form-data">
    <div>
        <label for="nameRecipe">Name of the recipe</label>
        <input type="text" name="nameRecipe" id="nameRecipe" placeholder="">
    </div>

    <div>
        <label for="typeOfCuisine"> Type of cuisine </label>
        <input type="text" name="typeOfCuisine" id="typeOfCuisine" placeholder="Asian cuisine">
    </div>
    <label for="dishType">Type of dish</label>
    <select id="dishType" name="dishType" size="1">
        <option value="breakfast">breakfast</option>
        <option value="main course">main course</option>
        <option value="side dish">side dish</option>
        <option value="drink">drink</option>
        <option value="dessert">dessert</option>
        <option value="appetizer">appetizer</option>
        <option value="other">other</option>
    </select>
    </div>
    <div>
        <label for="difficultyLevel">Level of difficulty </label>
        <input type="text" name="difficultyLevel" id="difficultyLevel" placeholder="level of difficulty">
    </div>
    <div>
        <label for="numberofportions"> Number of portions </label>
        <input type="number" name="numberofportions" id="numberofportions" min="1" max="10" placeholder="">
    </div>
    <div>
        <label for="preparationTime"> Preparation time </label>
        <input type="text" name="preparationTime" id="preparationTime" placeholder="">
    </div>
    <div>
        <label for="cookingTime"> Cooking time </label>
        <input type="text" name="cookingTime" id="cookingTime" placeholder="">
    </div>
    <div>
        <label for="ingredients"> Ingredients</label>
        <input type="text" name="ingredients" id="ingredients">
    </div>
    <div>
        <label for="method"> Method</label>
        <input type="text" name="method" id="method">
    </div>
    <div>
        <label for="linktotheoriginalrecipe"> Link to the original recipe</label>
        <input type="url" name="linktotheoriginalrecipe" id="linktotheoriginalrecipe">
    </div>
    <div>
        <label for="notes"> Notes</label>
        <input type="text" name="notes" id="notes">
    </div>
    <div>
        <label for="Recipe image">Recipe image</label>
        <input type="file" name="foodimage" id="foodimage">
    </div>
    <button type="submit">Submit</button>
</form>