<form action="/create">
    <button class="yellow-button">Create Recipe</button>
</form>

<h1>Hello {{currentUserInfo.userName}}</h1>

<h2>Your Recipes{{currentUserInfo.recipes}}</h2>

{{#each currentUser.recipe}}
<h3>{{user.recipe.name}}</h3>
{{/each}}

<form action="/userprofile">
    <button class="yellow-button">Go and edit your profile</button>
</form>